table{
    border-collapse: collapse;
    border: 5px solid black;
    font-family: "標楷體";
}
tr, td{
    border: 1px solid black;
    text-align: center;
}
.bold{
    font-weight: bold;
}
.time_style{
    width: 30px;
    height: 40px;
}
.course_style{
    width: 70px;
    height: 30px;
}
.diagonal_line {
    background-image: linear-gradient(to top right,
        white 49%,
        black,
        white 51%);
}
p{
    margin: 0px;
}
.letter_spacing{
    letter-spacing: 60px;
}
.text_align{
    padding-left: 50px;
}
.period{
    padding: 60px 5px;
}