html,
body {
  background-color: #f0ebf8;
  overflow: auto;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  width: 300px;
  margin: 0 auto 0 auto;
}

select {
  width: 200px;
  height: 50px;
  padding: 10px;
  border: none;
  border: 1px solid #5f6368;
  margin-bottom: 10px;
  outline: none;
  opacity: 0.5;
  border-radius: 8px;
}

hr {
  width: 95%;
  border: none;
  border-bottom: 1px solid #5f6368;
  opacity: 0.5;
}

p,
div,
span,
input,
label,
option {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

input::focus {
  color: black;
}

section {
  background-color: white;
  padding: 30px 0px 30px 30px;
  border: 1px solid #dadce0;
  border-radius: 15px;
  width: auto;
  margin-bottom: 20px;
}

form {
  background-color: #f0ebf8;
  width: 50%;
  margin: 10px auto 0px auto;
}

input:focus {
  background-color: white !important;
  border-bottom: 3px solid #490ab5;
  /*動畫效果 animation:<動畫名稱> <持續時間> <forwards(保持動畫結束時的最終狀態)>*/
  animation: borderExpand 10s forwards;
}

@keyframes borderExpand {
  0% {
    border-bottom: 3px solid transparent;
  }
  10% {
    border-bottom: 3px solid #490ab5;
  }
  30% {
    border-bottom: 3px solid #490ab5;
  }
  50% {
    border-bottom: 3px solid #490ab5;
  }
  70% {
    border-bottom: 3px solid #490ab5;
  }
  100% {
    border-bottom: 3px solid #490ab5;
  }
}

small {
  font-size: 16px;
  color: #5f6368;
}

.date {
  width: 150px;
  border: none;
  border-bottom: 2px solid #5f6368;
  margin-bottom: 10px;
  outline: none;
  opacity: 0.6;
}

.parent {
  position: relative;
}
.child {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #673ab7;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  height: 18px;
}
.childForCloudLogo {
  position: absolute;
  width: 10%;
  top: 0;
  right: 0;
}
.headerHeight{
  margin-top: 5px;
  height: 45px;
}

.inline {
  display: inline;
  margin-left: 0 0 0 30%;

}
.input_info {
  width: 350px;
  border: none;
  border-bottom: 2px solid #5f6368;
  margin-bottom: 10px;
  outline: none; /* 移除輸入框聚焦時的外邊框 */
  opacity: 0.6;
}

.text_padding {
  padding: 15px 0px;
}

.radio_padding {
  padding: 10px 0px;
}

.radio {
  transform: scale(1.7);
  opacity: 0.8;
  margin-right: 10px;
}

.align_right {
  position: absolute;
  right: 10px;
}

.text_color_red {
  color: #db3025;
}

.text_color_blue {
  color: #1a9df1;
}

.text_color_grey {
  color: #5f6368;
}

.bold {
  font-weight: bold;
}

.font_size_small {
  font-size: 15px;
}

.margin_bottom {
  margin-bottom: 10px;
}

.submit_button {
  background-color: #673ab7;
  border-radius: 5px;
  color: white;
  width: 90px;
  height: 45px;
  font-size: large;
  margin-left: 10px;
}

.reset_button {
  background-color: transparent;
  color: #673ab7;
  width: 150px;
  height: 45px;
  font-size: large;
  margin-right: 10px;
}

.button_inline {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.error_msg {
  display: none;
  color: #db3025;
  font-size: small;
}

.center_location {
  width: 50%;
  margin: 0 auto 0 auto;
  text-align: center;
}